.about-page{
  background-image: image-url('background-temporary.png');
  background-size: cover;
  background-position: 50% 38%;
}

#about-hero {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;

  p {
    width: 50%;
    text-align: center;
    font-size: 1.25em;
  }
}

@media (max-width: 768px) {
  p {
    width: 100% !important;
  }
}
