#cart-page {
  min-height: 70vh;
  background: white;
  padding: 32px;
  display: flex;
  justify-content: space-around;

  #cart-page-info {
    width: 60%;

    h1 {
      font-size: 1.2em;
      font-weight: bolder;
    }

    #cart-page-cards {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      padding-top: 16px;
      padding-right: 32px;
    }
}

  .cart-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;

    img {
      width: 15%;
    }

    .quantity-input {
      display: none;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
    }

    .quantity-field {
      text-align: center;
      border: none;
      width: 30px;

      &:focus {
        outline: none;
      }
    }

    .quantity-input button {
      width: 30px;
      height: 30px;
      font-size: 20px;
      border: none;
      background: none;
      cursor: pointer;
    }

    .quantity-input button:hover {
      background-color: #e0e0e0;
    }

    .quantity-input .increment,
    .quantity-input .decrement {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .quantity-field::-webkit-outer-spin-button,
    .quantity-field::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .quantity-field {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    button {
      border: none;
      background: none;
      padding: 0;
      color: grey;
    }
  }

  #cart-summary {
    width: 25%;
    margin-left: 32px;

    h2, p {
      font-size: 1.2em;
    }

    h3 {
      font-size: 1.2em;
      padding-bottom: 8px;
      border-bottom: 1px solid grey;
    }

    #calculate-shipping {
      padding: 16px 0;
    }

    #summary-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid grey;
      padding: 16px 0;

      p, h2 {
        margin: 0;
      }
    }

    #summary-subtotal {
      border-top: 1px solid grey;
      padding: 16px 0;

      #summary-subtotal-products {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
      }
    }

    #address-select, #shipping-rate-select {
      width: 100%;
      text-align: center;
      border: 1px solid black;
      font-size: 1em;
      margin-bottom: 8px;
    }

    #new-address-form, #guest-address-form {
      width: 90%;
      margin: 0 auto;

      input, select {
        width: 100%;
        margin: 8px auto;
        border: none;
        border-bottom: 1px solid black;
        height: 32px;
      }
    }

    .btn {
      background: none;
      border: 1px solid black;
      padding: 0 32px;
      font-size: 1.2em;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      color: black;
      width: 100%;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  #cart-page {
    display: flex;
    flex-direction: column;

    #cart-page-info {
      width: 100%;

      .cart-card {
        img {
          width: 25%;
          margin-right: 16px;
        }
      }
    }

    #cart-summary {
      width: 100%;
      margin-left: 0;
      margin-top: 32px;

      select {
        color: black;
        border: 1px solid black;
        border-radius: 0;
      }

      #summary-total, #summary-subtotal-products {
        p {
          margin-left: auto;
          text-align: right;
        }
      }
    }
  }
}
