#cart-page {
  min-height: 70vh;
  background: white;
  padding: 32px;
  display: flex;
  justify-content: space-between;

  #cart-page-info {
    width: 70%;

    h1 {
      font-size: 1.2em;
      font-weight: bolder;
    }

    #cart-page-cards {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      padding-top: 16px;
      padding-right: 32px;
    }
}

  .cart-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;

    img {
      width: 15%;
    }

    .quantity-input {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
    }

    .quantity-field {
      text-align: center;
      border: none;
      width: 30px;

      &:focus {
        outline: none;
      }
    }

    .quantity-input button {
      width: 30px;
      height: 30px;
      font-size: 20px;
      border: none;
      background: none;
      cursor: pointer;
    }

    .quantity-input button:hover {
      background-color: #e0e0e0;
    }

    .quantity-input .increment,
    .quantity-input .decrement {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .quantity-field::-webkit-outer-spin-button,
    .quantity-field::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .quantity-field {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    button {
      border: none;
      background: none;
      padding: 0;
      color: grey;
    }
  }

  #cart-summary {
    width: 25%;
    margin-left: 32px;

    h2, p {
      font-size: 1.2em;
    }

    #summary-total, #summary-subtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid grey;
      padding: 16px 0;

      p, h2 {
        margin: 0;
      }
    }
  }
}
