.profile-edit-page {
  background-image: image-url('profile-edit-background.JPG');
  background-size: cover;
  background-position: 50% 70%;
}

#profile-edit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 32px;

  p, form {
    width: 25%;
    font-size: 1.2em;
    color: white;
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1em;
    padding: 0;
    color: white;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  input::placeholder {
    color: white;
  }

  .form-text {
    color: white;
  }

  .form-actions {
    display: flex;
    justify-content: center;
  }

  .btn {
    background: none;
    border: 1px solid white;
    padding: 0 32px;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: white;
    width: 100%;

    &:hover {
      background-color: black;
      color: white;
      border: 1px solid black;
    }
  }
}

@media (max-width: 768px) {
  #profile-edit-page {
    min-height: 70vh;

    p, form {
      width: 100%;
      padding: 0 16px;
      font-size: 1em;
    }

    input {
      margin-bottom: 24px;
      border-radius: 0;
    }

    .btn {
      margin-bottom: 0;
    }
  }
}
