.profile-page {
  background-image: image-url('profile-background.JPG');
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#profile-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 85vh;
  color: white;
  padding: 32px;

  h1 {
    font-size: 2.3em;
    font-weight: bolder;
  }

  #profile-links h1.active {
    text-decoration: underline;
  }

  #profile-links {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;

    h1:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    button {
      background: none;
      font-size: 2.3em;
      color: white;
      border: none;
      padding: 0;
      margin-bottom: 8px;
      height: 44.15px;
      line-height: normal;
      font-weight: bolder;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #profile-info {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;



    h1 {
      margin-bottom: 16px;
    }

    #personal-info, #measurements, #address-book {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 33.33%;
      text-align: center;

      p {
        font-size: 1.3em;
        margin-bottom: 8px;
        width: 80%;
      };

      a {
        font-size: 1.3em;
        width: 80%;
        color: white;
        margin-top: 16px;

        &:hover {
          font-weight: bolder;
        }
      }

      .address-card {
        width: 80%;
        border: 1px solid white;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 16px;
      }

      h3 {
        font-size: 1.3em;
        margin-top: 16px;
        text-decoration: underline;

        i {
          text-decoration: underline;
        }

        &:hover {
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
  }

  #how-to-measure-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 32px;

    #measurement-instructions {
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        width: 40%;
        object-fit: cover;
        margin-right: 16px;
      }
    }
  }

  #order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 32px;

    p {
      font-size: 1.3em;
    }

    a {
      font-size: 1.3em;
      color: white;


      &:hover {
        font-weight: bolder;
      }
    }

    .order-card {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 32px;
      border-bottom: 1px solid white;
      text-align: center;

      #profile-order-subtotal, #profile-order-shipping {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      p, h6 {
        font-size: 1.2em;
        margin-bottom: 4px;

        a {
          font-size: 1em;
        }
      }

      b {
        font-size: 1.05em;
      }

      .profile-product-card {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;

        .profile-product-info p {
          font-size: 0.9em;
        }

        img {
          width: 25%;
          object-fit: cover;
        }
      }
    }
  }

  #wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.3em;
      margin-top: 32px;
    }

    a {
      font-size: 1.3em;
      color: white;


      &:hover {
        font-weight: bolder;
      }
    }

    .wishlist-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 32px;
      gap: 64px;

      .wishlist-card {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        img {
          height: 400px;
          object-fit: cover;
        }

        .wishlist-product-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          button {
            background: none;
            border: none;
            padding: 0;
            font-size: 2em;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #profile-page {

    #profile-links {
      width: 100%;

      h1, button {
        font-size: 1.1em;
        font-weight: bolder;
      }
    }

    #profile-info {
      flex-direction: column;

      #personal-info, #measurements, #address-book {
        width: 100%;
        margin-bottom: 32px;

        p, a {
          font-size: 0.9em;
        }

        a {
          margin-top: 8px;
        }

        h1 {
          font-size: 1.1em;
        }
      }
    }
    #order-info {

      text-align: center;

      padding: 0;

      p, a {
        font-size: 0.9em;
      }

      .order-card {
        width: 100%;

        p, h6 {
          font-size: 0.9em;
        }

        .profile-product-card {
          margin: 16px 0;
        }
      }
    }

    #wishlist {
      text-align: center;

      p, a {
        font-size: 0.9em;
      }

      .wishlist-grid {
        display: flex;
        flex-direction: column;
      }
    }

    #how-to-measure-content {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 16px;

      #measurement-instructions {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
          width: 100%;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
}
