#products-page {
  min-height: 70vh;
}

.centered-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  text-decoration: none;

  i{
    color: black;
    font-size: 2em;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  padding: 32px;

  a {
    text-decoration: none;

    &:hover {
      font-weight: bolder;
    }
  }
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  transition: transform 0.3s ease-in-out;

  img {
    width: 100%;
    object-fit: cover;
    height: 450px;
  }

  &:hover {
    transform: scale(1.05);
  }

  .fa-edit {
    color: black;
    margin: 0 auto;
  }

  a {
    color: black;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    font-size: 1.5em;
  }

  .product-card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    #prices {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      #original-price {
        text-decoration: line-through;
        color: grey;
        margin-right: 4px;
      }
    }
  }

  .product-image-container {
    position: relative;
  }

  .status-strip {
    position: absolute;
    bottom: 16px;
    left: 0;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.9;
    z-index: 1;
  }

}

.modal-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;

  .modal-content {
    padding: 32px;
    width: 50%;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.05em;

    .close-modal {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
      color: grey;
    }

    h6 {
      font-size: 1.05em;
      font-weight: bolder;
      margin-bottom: 4px;
    }

    p {
      margin-bottom: 0px;
      margin-top: 16px;
    }
  }
}


@media (max-width: 768px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;

    i {
      color: black;
    }
  }

  .modal-overlay {
    .modal-content {
      width: 80%;
    }
  }
}
