.sign-up-page {
  background-image: image-url('sign-up-background.JPG');
  background-size: cover;
  background-position: 50% 32.5%;
}

#sign-up-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 32px;

  p, form {
    width: 29%;
    font-size: 1.2em;
    color: white;

    b {
      font-weight: normal;
    }

    input {
      background: none;
      border: none;
      border-bottom: 1px solid white;
      font-size: 1em;
      padding: 0;
      color: white;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    input::placeholder {
      color: white;
    }

    .terms-conditions {
      display: flex;

      a {
        color: white;

        &:hover {
          font-weight: bolder;
        }
      }

      input {
        border: 1px solid black;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid white;
      position: relative;
      cursor: pointer;
    }

    input[type="checkbox"]:checked {
      background: none;
      border-color: white;
    }

    input[type="checkbox"]:checked::after {
      content: "\2713";
      color: white;
      font-size: 16px;
      position: absolute;
      top: -3px;
      left: 2.5px;
    }

    .form-actions {
      display: flex;
      justify-content: center;
    }

    .btn {
      background: none;
      border: 1px solid white;
      padding: 0 32px;
      font-size: 1em;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      color: white;
      width: 75%;

      &:hover {
        background-color: black;
        color: white;
        border: 1px solid black;
      }
    }
  }

  .log-in-link {
    text-align: center;
    margin-top: 16px;

    a {
      color: white;

      &:hover {
        font-weight: bolder;
      }
    }
  }
}

@media (max-width: 768px) {
  #sign-up-page {
    min-height: 70vh;

    p, form {
      width: 100%;
      padding: 0 16px;
      font-size: 0.8em;

      b {
        font-size: 2em;
        font-weight: normal;
      }
    }

    .terms-conditions {
      align-items: center;

      input {
        margin-right: 8px;
        margin-bottom: 0px;
      }

      fieldset {
        margin: 0 !important;
      }
    }

    input {
      margin-bottom: 24px;
      border-radius: 0;
    }

    .btn {
      margin-bottom: 0;
    }
  }
}
