<% content_for :body_class, "profile-edit-page" %>
<div id="profile-edit-page">
  <p>RESET PASSWORD</p>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "EMAIL",
                  input_html: { autocomplete: "email" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "SUBMIT" %>
    </div>
  <% end %>
</div>
