<footer>
  <div id="footer-links">
    <div class="footer-links-section">
      <%= link_to 'CONTACT', contact_path %>
      <a href="#">RETURN&REFUND</a>
      <%= link_to 'T&C', terms_path %>
      <%= link_to 'PRIVACY', privacy_path %>
    </div>
  </div>
  <div id="footer-newsletter">
    <p><b>NEWSLETTER</b></p>
    <p>SUBSCRIBE FOR 10% OFF YOUR FIRST ORDER</p>
    <div>
      <input type="text" placeholder="EMAIL">
      <button>SUBSCRIBE</button>
    </div>
  </div>
</footer>
