<% content_for :body_class, "about-page" %>
<div id="about-hero">
  <p><b>SHERS STUDIOS</b> BY POLINA OLEYNIKOVA</p><br>
  <p><b>BASED</b> BETWEEN SURREY AND LONDON, UK</p><br>
  <p><b>SLOW FLUID FASHION BRAND</b> BY AN INDEPENDENT DESIGNER, DRAMATIC SILHOUETTES AND INTRIGUING TEXTURES. POST-APOCALYPSE CHIC, MADE-TO-ORDER WITH CARE FOR YOU AND THE PLANET.</p><br>
  <p><b>DONE TO</b> EMPOWER, CELEBRATE AND IMPACT. TO EMBRACE ALL BODY SHAPES, GENDERS, RACES AND SEXUALITIES. TO PROMOTE RESPONSIBLE CONSUMPTION AND SUSTAINABILITY IN FASHION.</p>
</div>
