<% content_for :body_class, "about-page" %>
<div id="about-hero">
  <p><b>SHERS STUDIOS</b> BY POLINA OLEYNIKOVA</p><br>
  <p><b>BASED</b> BETWEEN SURREY AND LONDON, UK</p><br>
  <p><b>AN INDEPENDENT SLOW FASHION BRAND</b>, SHERS STUDIOS EMBRACES THE DIALOGUE BETWEEN THE STONE AGE AND THE DIGITAL AGE. EACH CREATION MARRIES DRAMATIC SILHOUETTES WITH INTRIGUING TEXTURES, INVITING SENSORY ENGAGEMENT THAT ALLOWS YOU TO FEEL EVERY MOMENT.</p><br>
  <p><b>THE MADE-TO-ORDER PHILOSOPHY</b> RESONATES WITH THE JOURNEY OF SELF-DISCOVERY AND TRUTHFUL EXPRESSION, CELEBRATING THE AWAKENING OF YOUR SENSATIONS AND FEELINGS. WE STRIVE TO EMPOWER A WORLD THAT VALUES DIVERSITY, INCLUSIVITY, AND MINDFULNESS—ONE THAT EMBRACES RESPONSIBLE CONSUMPTION.</p><br>
  <p><b>CHAMPIONING SUSTAINABILITY</b> THROUGH THE USE OF RESCUED MATERIALS, WOOL, AND LATEX, COMBINING TRADITIONAL COUTURE TECHNIQUES WITH INNOVATIVE 3D TECHNOLOGIES TO MINIMIZE WASTE AND PROMOTE RESPONSIBLE SHOPPING BEHAVIOR. EVERY PIECE IS METICULOUSLY CRAFTED BY HAND, CELEBRATING THE HISTORY OF ART AND THE ETERNAL HUMAN QUEST FOR SELF-EXPRESSION.</p>
</div>
