<% content_for :body_class, "contact-page" %>
<div id="contact-hero">
  <h4>CONTACT</h4><br>
  <p><b>EMAIL:</b> <a href="mailto:SHERS.STUDIOS@OUTLOOK.COM">SHERS.STUDIOS@OUTLOOK.COM</a></p>
  <p><b>DEPOP:</b> <a href="https://www.depop.com/shersstudios" target="_blank">SHERSSTUDIOS</a></p>
  <p><b>INSTAGRAM:</b> <a href="https://www.instagram.com/shers.studios" target="_blank">SHERS.STUDIOS</a></p>
  <p><b>PINTEREST:</b> <a href="https://www.pinterest.com/shersstudios" target="_blank">SHERSSTUDIOS</a></p>
</div>
