<div id="explore-links">
    <a href="#" id="artefacts-link">ARTEFACTS</a>
    <%= link_to "COLLABORATIONS", collaborations_path, id: "collaborations-link" %>
    <%= link_to "ARCHIVE", archives_path, id: "archive-link" %>
</div>
