<div id="faq-hero">
  <h1>FAQ</h1>
</div>
<div id="faq-info">
  <div class="faq-card">
    <h3>MADE-TO-ORDER</h3>
    <%= image_tag "tailor_icon.png", alt:"Tailor icon" %>
    <p>MOST OF SHERS STUDIOS' PIECES ARE MADE-TO-ORDER, THEREFORE WAITING TIMES MAY VARY FROM 7 TO 35 WORKING DAYS.</p>
    <p>ONCE THE PIECE IS COMPLETE AND SHIPPED YOU WILL RECEIVE AN UPDATE EMAIL WITH AN ESTIMATED ARRIVAL TIME.</p>
    <p>FOR CUSTOM SIZE/COLOR/DESIGN PLEASE EMAIL <a href="mailto:SHERS.STUDIOS@OUTLOOK.COM">SHERS.STUDIOS@OUTLOOK.COM</a> ALL CUSTOM ORDERS WILL INCUR A FEE OF 20%</p>
  </div>
  <div class="faq-card">
    <h3>SIZE GUIDE</h3>
    <%= image_tag "size_icon.png", alt:"Size icon", id:"size-icon" %>
    <table class="size-guide-table">
      <thead>
        <tr>
          <th>SIZE</th>
          <th>CHEST</th>
          <th>WAIST</th>
          <th>HIPS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2XS</td>
          <td>80</td>
          <td>64</td>
          <td>88</td>
        </tr>
        <tr>
          <td>XS</td>
          <td>84</td>
          <td>68</td>
          <td>92</td>
        </tr>
        <tr>
          <td>S</td>
          <td>88</td>
          <td>72</td>
          <td>96</td>
        </tr>
        <tr>
          <td>M</td>
          <td>92</td>
          <td>76</td>
          <td>100</td>
        </tr>
        <tr>
          <td>L</td>
          <td>96</td>
          <td>80</td>
          <td>104</td>
        </tr>
        <tr>
          <td>XL</td>
          <td>100</td>
          <td>84</td>
          <td>108</td>
        </tr>
        <tr>
          <td>2XL</td>
          <td>104</td>
          <td>88</td>
          <td>112</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="faq-card">
    <h3>RETURNS & REFUNDS</h3>
    <%= image_tag "refund_icon.png", alt:"Refund icon" %>
    <p>RETURNS AND EXCHANGES WILL ONLY BE ACCEPTED FOR UNWORN GARMENTS WHICH ARE FAULTY OR NOT AS DESCRIBED.</p>
    <p>THE RETURN WINDOW IS 14 DAYS FROM THE DELIVERY DATE.</p>
    <p>POSTAGE COSTS ARE THE RESPONSIBILITY OF THE CUSTOMER</p>
  </div>
</div>
<div id="latex-care">
  <h3>LATEX CARE</h3>
  <%= image_tag "ripple_icon.png", alt:"Ripple icon" %>
  <p><b>WHEN YOUR LATEX ARRIVES:</b></p>
  <ul>
    <li>LATEX ARRIVES COVERED IN TALCUM POWDER TO PREVENT STICKING AND CREASING</li>
    <li>CREASES WILL DISAPPEAR IN 1-2 DAYS ONCE HUNG UP.</li>
    <li>TO REMOVE THE POWDER WIPE IT OFF WITH A DAMP CLOTH AFTER WEARING OR FOLLOW THE WASHING INSTRUCTIONS BELOW.</li>
  </ul>
  <p><b>HOW TO WASH:</b></p>
  <ul>
    <li>WASH AFTER EVERY WEAR TO PREVENT DAMAGE FROM DIRT, SWEAT, AND OILS.</li>
    <li>FILL A PLASTIC CONTAINER, SINK, OR TUB WITH LUKEWARM WATER AND A FEW DROPS OF NEUTRAL DISH SOAP.</li>
    <li>SOAK THE LATEX FOR 5 MINUTES, GENTLY SWISHING IT.</li>
    <li>RINSE WITH CLEAN, LUKEWARM WATER.</li>
    <li>HANG TO DRY ON A PLASTIC OR WOODEN HANGER (AVOID METAL HANGERS).</li>
    <li>TURN INSIDE OUT TO DRY THE OTHER SIDE ONCE ONE SIDE IS DRY.</li>
  </ul>
  <p><i>NOTE: SHEER LATEX MAY LOOK MILKY IF SOAKED TOO LONG - THIS WILL DISAPPEAR WHEN FULLY DRY.</i></p>
  <p><b>HOW TO STORE:</b></p>
  <ul>
    <li>AFTER CLEANING AND DRYING, LATEX MAY STICK TOGETHER - THIS IS NORMAL.</li>
    <li>IF WEARING SOON APPLY A SMALL AMOUNT OF LATEX POLISH FOR SHINE.</li>
    <li>IF STORING FOR LATER DUST IT WITH TALCUM POWDER.</li>
    <li>HANG ON A PLASTIC OR WOODEN HANGER UNDER A GARMENT BAG.</li>
    <li>STORE IN A COOL, DARK PLACE AWAY FROM SUNLIGHT OR STORE IN A ZIPLOCK BAG IN A DRAWER.</li>
  </ul>
  <p><i>TIPS</i></p>
  <ul>
    <li>AVOID STORING DIFFERENT COLORS TOGETHER - DARKER COLORS CAN STAIN LIGHTER ONES.</li>
    <li>KEEP LATEX AWAY FROM FABRIC WITH METAL ACCESSORIES TO AVOID STAINING.</li>
  </ul>
  <p><b>HOW TO POLISH:</b></p>
  <ul>
    <li>USE A DESIGNATED LATEX POLISH LIKE BEGLOSS PERFECT SHINE, MADAM LATEX OR VIVISHINE.</li>
    <li>ALTERNATIVELY, A SILICONE-BASED LUBE WORKS TOO.</li>
    <li>AVOID USING WATER-BASED LUBES, COCONUT OIL, LOTIONS OR ANYTHING ELSE THAT CAN WEAKEN LATEX.</li>
  </ul>
  <p><b>IMPORTANT INFORMATION:</b></p>
  <ul>
    <li>LATEX REQUIRES CARE BUT CAN LAST LONG WITH PROPER TREATMENT.</li>
    <li>LIGHTER COLORS ARE PRONE TO STAINING</li>
    <li>CONSIDER STARTING WITH BLACK OR DARKER SHADES IF NEW TO LATEX.</li>
    <li>KEEP LATEX AWAY FROM:</li>
    <li>HOUSEHOLD OILS, CLEANING PRODUCTS, SOLVENTS.</li>
    <li>COPPER OR NICKEL-BASED METALS (REMOVE JEWELRY BEFORE WEARING).</li>
    <li>NICOTINE (WASH HANDS AFTER  SMOKING).</li>
    <li>PERFUME, DEODORANT, BODY OILS, AND LOTIONS (APPLY WELL BEFORE WEARING; DON'T SPRAY DIRECTLY ON LATEX).</li>
  </ul>
</div>
