<div id="faq-hero">
  <h1>FAQ</h1>
</div>
<div id="faq-info">
  <div class="faq-card">
    <h3>LATEX CARE</h3>
    <%= image_tag "ripple_icon.png", alt:"Ripple icon", id:"latex-icon" %>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium officiis non, eum, unde vitae quibusdam minima est corporis magnam debitis, accusantium quia vero dolorum hic doloremque impedit iure sint nihil!</p>
  </div>
  <div class="faq-card">
    <h3>MADE-TO-ORDER</h3>
    <%= image_tag "tailor_icon.png", alt:"Tailor icon", id:"tailor-icon" %>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos architecto, minima voluptates asperiores nulla mollitia nam libero aperiam? Incidunt numquam, architecto excepturi itaque neque eum. Explicabo magnam pariatur dignissimos veritatis?</p>
  </div>
  <div class="faq-card">
    <h3 id="size-header">SIZE GUIDE</h3>
    <%= image_tag "size_icon.png", alt:"Size icon" %>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum accusantium molestias fuga inventore. Rerum quisquam impedit adipisci temporibus quam obcaecati itaque mollitia necessitatibus. Repellendus nobis, esse distinctio repellat eaque maiores.</p>
  </div>
</div>
