<% content_for :body_class, "home-page" %>
<div id="home-hero">
  <%= link_to 'SHOP', products_path %>
  <%= link_to 'EXPLORE', explore_path %>
  <%= link_to 'ABOUT', about_path %>
  <%= link_to 'FAQ', faq_path %>
</div>
