<div id="privacy">
  <h2>PRIVACY POLICY</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nobis vero dolore totam beatae nesciunt neque dolores distinctio? Iure placeat pariatur porro maxime nam magni obcaecati ullam debitis consectetur deserunt.</p>
</div>
