<div id="terms">
  <h2>TERMS & CONDITIONS</h2>
  <p>Overview</p>
  <p>Welcome to Shers Studios. These Terms and Conditions (“Terms”) govern your use of our website
and services. By accessing or using our site (https://www.shersstudios.com/) and any services
offered by Shers Studios (“we,” “us,” or “our”), you agree to comply with these Terms along with
our Privacy Policy and any additional policies referenced herein.</p>
  <p>If you do not agree to these Terms, please refrain from using our site or services</p>
  <p>1. Acceptance of Terms</p>
  <p>By using our website and purchasing products from us, you affirm that you are at least the age of
majority in your jurisdiction or have obtained the consent of a parent or guardian if you are a
minor.</p>
  <p>You may not use our services for any unlawful or unauthorized purposes, nor may you violate any
applicable laws, including but not limited to copyright laws.</p>
  <p>2. Online Store Terms</p>
  <p>You agree not to transmit any harmful code, malware, or viruses. Breach of these Terms will result
in the immediate termination of your access to our services.</p>
  <p>3. General Conditions</p>
  <p>We reserve the right to refuse service to anyone for any reason at any time.</p>
  <p>Content (excluding credit card information) may be transmitted unencrypted across networks.
Credit card information is always encrypted during transfer.</p>
  <p>You agree not to reproduce, duplicate, copy, sell, or exploit any part of the service or access to
the service without our express written permission.</p>
  <p>4. Accuracy and Completeness of Information</p>
  <p>While we strive to provide accurate and current information, we are not responsible for any
inaccuracies or omissions on the site. Please do not rely solely on this information for decisionmaking.</p>
  <p>Historical information on the site may not be current and is provided for reference only. We
reserve the right to modify content at any time but are not obligated to update any information.</p>
  <p>5. Modifications to the Service and Prices</p>
  <p>Prices for our products are subject to change without notice.</p>
  <p>We may modify, suspend, or discontinue the service (or any part of it) at any time without prior
notice. We are not liable for any price changes, suspension, or discontinuation of the service.</p>
  <p>6. Products and Services</p>
  <p>Certain products or services may be exclusively available online and are subject to our Return
Policy.</p>
  <p>We make every effort to display product colors and images accurately; however, we cannot
guarantee that your monitor’s display will match the actual product colors.</p>
  <p>We reserve the right to limit sales of our products and discontinue any product at our sole
discretion.</p>
  <p>7. Accuracy of Billing and Account Information</p>
  <p>We reserve the right to refuse any order you place.</p>
  <p>You agree to provide current, complete, and accurate purchase and account information for all
purchases and to update your account promptly with any changes.</p>
  <p>For more information, please refer to our Return Policy.</p>
  <p>8. Optional Tools</p>
  <p>We may provide access to third-party tools over which we have no control or responsibility. Your
use of these tools is at your own risk. We do not warrant the reliability or accuracy of these tools</p>
  <p>9. Third-Party Links</p>
  <p>Our site may include links to third-party websites or materials. We are not responsible for
examining or evaluating the content or accuracy of any third-party materials or websites. Any
concerns regarding third-party products or services should be directed to the respective third
party.</p>
  <p>10. User Comments, Feedback, and Other Submissions</p>
  <p>If you submit comments, suggestions, or feedback, you grant us the right to use, modify, and
distribute those submissions without any obligation to you. We are not responsible for the content
of any comments submitted by users.</p>
  <p>11. Personal Information</p>
  <p>Your submission of personal information through the site is governed by our Privacy Policy.
Please refer to it for details on how we collect, use, and protect your information.</p>
  <p>12. Errors, Inaccuracies, and Omissions</p>
  <p>Occasionally, there may be typographical errors, inaccuracies, or omissions on our site. We
reserve the right to correct any errors, update information, or cancel orders if any information is
inaccurate at any time without prior notice.</p>
  <p>13. Prohibited Uses</p>
  <p>You are prohibited from using the site or its content:</p>
  <ul>
    <li>For unlawful purposes.</li>
    <li>To solicit others to perform or participate in unlawful acts.</li>
    <li>To violate any local, international, or federal regulations.</li>
    <li>To infringe upon or violate our intellectual property rights or those of others.</li>
    <li>To harass, abuse, or discriminate.</li>
    <li>To submit false or misleading information.</li>
    <li>To upload or transmit malicious code or viruses.</li>
    <li>To collect or track the personal information of others</li>
    <li>To interfere with the security features of our site or services.</li>
  </ul>
  <p>14. Disclaimer of Warranties; Limitation of Liability</p>
  <p>We do not guarantee that your use of our service will be uninterrupted, timely, secure, or error-
free. The service and all products are provided on an “as is” and “as available” basis without any
warranties, express or implied.</p>
  <p>In no case shall Shers Studios, our affiliates, or our directors, employees, or agents be liable for
any indirect, incidental, punitive, special, or consequential damages arising from your use of the
service or products, even if advised of the possibility.</p>
  <p>15. Governing Law</p>
  <p>These Terms and Conditions are governed by and construed in accordance with the laws of the
United Kingdom. Any disputes arising from these Terms will be resolved under the applicable laws
of the UK.</p>
  <p>16. Changes to Terms and Conditions</p>
  <p>We reserve the right to update, change, or replace any part of these Terms at any time. Changes
will be posted on this page, with the updated date noted. Your continued use of our site and
services after any changes signifies your acceptance of the revised Terms.</p>
  <p>Contact Us</p>
  <p>For questions or concerns regarding these Terms and Conditions, please contact us at:
Email: shers.studios@outlook.com</p>
</div>
