<div id="terms">
  <h2>TERMS & CONDITIONS</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laborum quia iusto excepturi. Soluta ad sequi itaque deserunt, earum amet, nihil beatae, repellendus nobis voluptatem dolorem repudiandae obcaecati praesentium inventore?</p>
</div>
