<div id="archives-page">
  <% if current_user&.admin? %>
    <%= link_to new_archive_path, class: "centered-link" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  <% end %>
  <div id="archives-grid">
    <% @archives.each do |archive| %>
      <% card_style = archive.primary_image.attached? ? "background-image: url('#{url_for(archive.primary_image)}');" : "" %>
      <%= link_to archive_path(archive), class: "archive-card", style: card_style do %>
        <%= archive.name.upcase %>
      <% end %>
    <% end %>
  </div>
</div>
