<div id="collaborations-page">
  <% if current_user&.admin? %>
    <%= link_to new_collaboration_path, class: "centered-link" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  <% end %>
</div>
