// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.notice:empty,
.alert:empty {
  display: none;
}

.notice, .alert {
  position: fixed !important;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000 !important;
  padding: 4px 16px;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
  max-width: 90%;
  color: black;
  box-sizing: border-box;
  transition: opacity 0.5s;
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 0;
  height: auto;
  overflow: hidden;
  bottom: auto;
  right: auto;
}

.notice {
  background-color: rgba(255, 255, 255, 0.6);
}

.alert {
  background-color: rgba(255, 255, 255, 0.6);
}

.notice .close, .alert .close {
  margin-left: 10px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body.menu-open > *:not(nav):not(.cart-overlay) {
  display: none !important;
}

body.menu-open nav {
  display: flex;
}

body.menu-open nav * {
  display: flex;
}

body.menu-open {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
