// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.notice:empty,
.alert:empty {
  display: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body.menu-open *:not(nav) {
  display: none;
}

body.menu-open nav {
  display: flex;
}

body.menu-open nav * {
  display: flex;
}

body.menu-open {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
